 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction page</title>
    <link rel="stylesheet" href="static/css/instruction.css">
</head>
<body>
    <section class="container">
        <div class="instruction">
            <h1>Instructions</h1>
<ol>
           <li> All questions are multiple choice question.</li>

           <li> Only one choice is correct. </li>
            <li>Every question carry equal marks i.e. 1 marks for each question.</li> 

           <li>Every question is displayed only once per user.</li>
           <li>Try to answer as quickly as you can.</li>
        
           <li>If you press refresh or go back to the previous page,
            <br>there will be a new question for you and
            <br> the question you were on will be counted as attempted.</li>
           <li>Questions are displayed randomly for every user.</li>
        </ol>
        </div>
    </section>

    <section>
        <div class="button"><a href="stored_proc">Start</a></div>
    </section>
</body>

</html>